//- popup
mixin popup()
	.popup.uk-flex-top(data-uk-modal)&attributes(attributes)
		.popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
			button.popup__close.uk-modal-close-default(type="button" data-uk-close)
			block

//- Slider dots and navigation

mixin slider-dots()
	ul.uk-slider-nav.uk-dotnav.slidedots&attributes(attributes)
mixin slideshow-dots()
	ul.uk-slideshow-nav.uk-dotnav.slidedots&attributes(attributes)

mixin slider-nav()
	a.slidenav.slidenav-prev(href="#" data-uk-slider-item="previous")&attributes(attributes)
		+icon('arrow-left')
	a.slidenav.slidenav-next(href="#" data-uk-slider-item="next")&attributes(attributes)
		+icon('arrow-right')

mixin slideshow-nav()
	a.slidenav.slidenav-prev(href="#" data-uk-slideshow-item="previous")&attributes(attributes)
		+icon('arrow-left')
	a.slidenav.slidenav-next(href="#" data-uk-slideshow-item="next")&attributes(attributes)
		+icon('arrow-right')



//- iconset

mixin icon(icon, filler = 'currentColor')
	case icon
		when 'triangle-next'
			svg(width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M0.744683 12.6716V0.328132L11.1275 6.5L0.744683 12.6716ZM12.2444 12.6716V6.72125V6.27875V0.328132L22.6275 6.5L12.2444 12.6716Z" fill="#162712")
		when 'angle-down'
			svg(width='11' height='11' viewbox='0 0 11 11' fill=filler xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				line(x1='0.353553' y1='4.57076' x2='4.78552' y2='9.00273' stroke=filler)
				line(x1='9.71' y1='4.78544' x2='5.27803' y2='9.21741' stroke=filler)
				line(x1='5.27787' y1='9.21732' x2='4.78543' y2='9.70976' stroke=filler)
		when 'angle-left'
			svg(width="23" height="21" viewBox="0 0 23 21" fill='currentColor' xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				line(y1="-1.5" x2="11.7466" y2="-1.5" transform="matrix(-0.732373 -0.680904 -0.732373 0.680904 11.6797 20.9518)" stroke="#133D00" stroke-width="3")
				line(y1="-1.5" x2="14.75" y2="-1.5" transform="matrix(-0.732373 0.680904 0.732373 0.680904 13.8823 2.89999)" stroke="#133D00" stroke-width="3")
		when 'angle-right'
			svg(width="22" height="21" viewBox="0 0 22 21" fill='currentColor' xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				line(y1="-1.5" x2="11.7466" y2="-1.5" transform="matrix(0.732373 -0.680904 0.732373 0.680904 10.8828 20.9518)" stroke="#133D00" stroke-width="3")
				line(y1="-1.5" x2="14.75" y2="-1.5" transform="matrix(0.732373 0.680904 -0.732373 0.680904 8.68018 2.89999)" stroke="#133D00" stroke-width="3")
		when 'arrow-left'
			svg(width="41" height="24" viewBox="0 0 41 24" fill='currentColor' xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M0.939339 10.9393C0.353554 11.5251 0.353554 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.807609 11.0711 0.807609 10.4853 1.3934L0.939339 10.9393ZM41 10.5L2 10.5L2 13.5L41 13.5L41 10.5Z" fill=filler)
		when 'arrow-right'
			svg(width="41" height="24" viewBox="0 0 41 24" fill='currentColor' xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M40.0607 13.0607C40.6464 12.4749 40.6464 11.5251 40.0607 10.9393L30.5147 1.3934C29.9289 0.807614 28.9792 0.807614 28.3934 1.3934C27.8076 1.97919 27.8076 2.92893 28.3934 3.51472L36.8787 12L28.3934 20.4853C27.8076 21.0711 27.8076 22.0208 28.3934 22.6066C28.9792 23.1924 29.9289 23.1924 30.5147 22.6066L40.0607 13.0607ZM-1.31134e-07 13.5L39 13.5L39 10.5L1.31134e-07 10.5L-1.31134e-07 13.5Z" fill=filler)
		when 'arrow-left-big'
			svg(width="42" height="46" viewBox="0 0 42 46" fill='currentColor' xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M0.878681 20.8787C-0.292892 22.0502 -0.292893 23.9497 0.878681 25.1213L19.9706 44.2132C21.1421 45.3848 23.0416 45.3848 24.2132 44.2132C25.3848 43.0416 25.3848 41.1421 24.2132 39.9706L7.24264 23L24.2132 6.02944C25.3848 4.85786 25.3848 2.95837 24.2132 1.7868C23.0416 0.615221 21.1421 0.615221 19.9706 1.78679L0.878681 20.8787ZM42 20L3 20L3 26L42 26L42 20Z" fill=filler)
		when 'arrow-right-big'
			svg(width="42" height="46" viewBox="0 0 42 46" fill='currentColor' xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M41.1213 25.1213C42.2929 23.9498 42.2929 22.0503 41.1213 20.8787L22.0294 1.7868C20.8579 0.615225 18.9584 0.615225 17.7868 1.7868C16.6152 2.95837 16.6152 4.85787 17.7868 6.02944L34.7574 23L17.7868 39.9706C16.6152 41.1421 16.6152 43.0416 17.7868 44.2132C18.9584 45.3848 20.8579 45.3848 22.0294 44.2132L41.1213 25.1213ZM-2.62268e-07 26L39 26L39 20L2.62268e-07 20L-2.62268e-07 26Z" fill=filler)

		when 'social-fb'
			svg(width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M37.3071 0.36084H14.6545C6.97415 0.36084 0.728271 6.60673 0.728271 14.317V36.9695C0.728271 44.6499 6.97416 50.9256 14.6844 50.9256H37.337C45.0173 50.9256 51.2931 44.6798 51.2931 36.9695V14.317C51.2632 6.60673 44.9874 0.36084 37.3071 0.36084ZM46.7805 36.9396C46.7805 42.1694 42.5369 46.4131 37.3071 46.4131H14.6545C9.42469 46.4131 5.18107 42.1694 5.18107 36.9396V14.317C5.18107 9.08715 9.42469 4.84354 14.6545 4.84354H37.3071C42.5369 4.84354 46.7805 9.08715 46.7805 14.317V36.9396Z" fill=filler)
				path(d="M21.1692 19.666H17.2245V24.9257H21.1692V40.7346H27.7738V24.9556H32.5852L33.0633 19.6959H27.8036V17.4844C27.8036 16.2292 28.0427 15.7212 29.268 15.7212H33.0633V9.1167H28.0427C23.2911 9.1167 21.1991 11.2086 21.1991 15.2132L21.1692 19.666Z" fill=filler)
		when 'social-inst'
			svg(width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")&attributes(attributes)
				path(d="M37.5091 0.36084H14.8565C7.17617 0.36084 0.900391 6.60673 0.900391 14.317V36.9695C0.900391 44.6499 7.14628 50.9256 14.8565 50.9256H37.5091C45.1894 50.9256 51.4652 44.6798 51.4652 36.9695V14.317C51.4652 6.60673 45.2193 0.36084 37.5091 0.36084ZM46.9825 36.9396C46.9825 42.1694 42.7389 46.4131 37.5091 46.4131H14.8565C9.62671 46.4131 5.38309 42.1694 5.38309 36.9396V14.2871C5.38309 9.05727 9.62671 4.81365 14.8565 4.81365H37.5091C42.7389 4.81365 46.9825 9.05727 46.9825 14.2871V36.9396Z" fill=filler)
				path(d="M26.2127 12.5837C19.0404 12.5837 13.183 18.4112 13.183 25.6134C13.183 32.7858 19.0105 38.6431 26.2127 38.6431C33.4149 38.6431 39.2125 32.7858 39.2125 25.6134C39.2125 18.4411 33.385 12.5837 26.2127 12.5837ZM26.2127 34.1605C21.5208 34.1605 17.6657 30.3352 17.6657 25.6134C17.6657 20.8917 21.4909 17.0664 26.2127 17.0664C30.9345 17.0664 34.7298 20.9216 34.7298 25.6134C34.7298 30.3352 30.9046 34.1605 26.2127 34.1605Z" fill=filler)
				path(d="M39.7802 8.78809C38.9136 8.78809 38.0768 9.1467 37.4492 9.74439C36.8217 10.3421 36.4929 11.2087 36.4929 12.0754C36.4929 12.9421 36.8515 13.7788 37.4492 14.4064C38.0469 15.0041 38.9136 15.3627 39.7802 15.3627C40.6469 15.3627 41.4837 15.0041 42.1112 14.4064C42.7388 13.7788 43.0675 12.9421 43.0675 12.0754C43.0675 11.2087 42.7089 10.372 42.1112 9.74439C41.4837 9.1467 40.6469 8.78809 39.7802 8.78809Z" fill=filler)
		

//- type: `jpg`/ `png` or jpg/ png if so-called var inited
//- src: `${path}/to/img`  - without prefixes and dimensions
//- dimentions: `s`/ `sml`/ `sl`/ `smlx`/ `sx`....
//- retina: true/ false

//- Атрибуты типа class, alt записываются как обычно в скобках сразу за миксином  -- +picture(jpg, 'tmp')(class="pic" alt="lev")

//- image nameing: anyname-sm.jpg

- var jpg = `jpg`, png = `png`

- var globalRetinaUsage = `` //- `` -if false
- var globalDimentionsUsage = `sl`

- var postfixRetina = '@2x'
- var postfix = { sm: `-sm`, md: `-md`, lg: `-lg`, xl: `-xl` } //- `smlx`

mixin picture(type, src, dimentions = globalDimentionsUsage, retina = globalRetinaUsage)
	picture
		if dimentions.includes(`n`)
			source(srcset=ipl data-srcset!=`${retina.includes(`n`) ? `${src + postfixRetina}.webp 2x,` : ``} ${src}.webp${retina.includes(`n`) ? ` 1x` : ``}` type=`image/webp`)
			source(srcset=ipl data-srcset!=`${retina.includes(`n`) ? `${src + postfixRetina}.${type} 2x,` : ``} ${src}.${type}${retina.includes(`n`) ? ` 1x` : ``}` type=`image/${type}`)
			img.lazyload(src!=ipl data-src!=`${src}.${type}` alt='')&attributes(attributes)
		else
			if dimentions.includes(`x`)
				source(media=`(min-width: ${xl}px)` srcset=ipl data-srcset!=`${retina.includes(`x`) ? `${src + postfix.xl + postfixRetina}.webp 2x,` : ``} ${src + postfix.xl}.webp${retina.includes(`x`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: ${xl}px)` srcset=ipl data-srcset!=`${retina.includes(`x`) ? `${src + postfix.xl + postfixRetina}.${type} 2x,` : ``} ${src + postfix.xl}.${type}${retina.includes(`x`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`l`)
				source(media=`(min-width: ${lg}px)` srcset=ipl data-srcset!=`${retina.includes(`l`) ? `${src + postfix.lg + postfixRetina}.webp 2x,` : ``} ${src + postfix.lg}.webp${retina.includes(`l`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: ${lg}px)` srcset=ipl data-srcset!=`${retina.includes(`l`) ? `${src + postfix.lg + postfixRetina}.${type} 2x,` : ``} ${src + postfix.lg}.${type}${retina.includes(`l`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`m`)
				source(media=`(min-width: ${md}px)` srcset=ipl data-srcset!=`${retina.includes(`m`) ? `${src + postfix.md + postfixRetina}.webp 2x,` : ``} ${src + postfix.md}.webp${retina.includes(`m`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: ${md}px)` srcset=ipl data-srcset!=`${retina.includes(`m`) ? `${src + postfix.md + postfixRetina}.${type} 2x,` : ``} ${src + postfix.md}.${type}${retina.includes(`m`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`s`)
				source(media=`(min-width: 0px)` srcset=ipl data-srcset!=`${retina.includes(`s`) ? `${src + postfix.sm + postfixRetina}.webp 2x,` : ``} ${src + postfix.sm}.webp${retina.includes(`s`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: 0px)` srcset=ipl data-srcset!=`${retina.includes(`s`) ? `${src + postfix.sm + postfixRetina}.${type} 2x,` : ``} ${src + postfix.sm}.${type}${retina.includes(`s`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`l`)
				img.lazyload(src!=ipl data-src!=`${src + postfix.lg}.${type}` alt='')&attributes(attributes)
			else
				img.lazyload(src!=ipl data-src!=`${src + postfix.md}.${type}` alt='')&attributes(attributes)
			
mixin picture-min(type, src, minSrc,  dimentions = globalDimentionsUsage, retina = globalRetinaUsage)
	picture
		if dimentions.includes(`n`)
			source(srcset=`${minSrc}-min.${type}` data-srcset!=`${retina.includes(`n`) ? `${src + postfixRetina}.webp 2x,` : ``} ${src}.webp${retina.includes(`n`) ? ` 1x` : ``}` type=`image/webp`)
			source(srcset=`${minSrc}-min.${type}` data-srcset!=`${retina.includes(`n`) ? `${src + postfixRetina}.${type} 2x,` : ``} ${src}.${type}${retina.includes(`n`) ? ` 1x` : ``}` type=`image/${type}`)
			img.lazyload.lazymin(src!=`${minSrc}-min.${type}` data-src!=`${src}.${type}` alt='')&attributes(attributes)
		else
			if dimentions.includes(`x`)
				source(media=`(min-width: ${xl}px)` srcset=`${minSrc + postfix.xl}-min.${type}` data-srcset!=`${retina.includes(`x`) ? `${src + postfix.xl + postfixRetina}.webp 2x,` : ``} ${src + postfix.xl}.webp${retina.includes(`x`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: ${xl}px)` srcset=`${minSrc + postfix.xl}-min.${type}` data-srcset!=`${retina.includes(`x`) ? `${src + postfix.xl + postfixRetina}.${type} 2x,` : ``} ${src + postfix.xl}.${type}${retina.includes(`x`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`l`)
				source(media=`(min-width: ${lg}px)` srcset=`${minSrc + postfix.lg}-min.${type}` data-srcset!=`${retina.includes(`l`) ? `${src + postfix.lg + postfixRetina}.webp 2x,` : ``} ${src + postfix.lg}.webp${retina.includes(`l`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: ${lg}px)` srcset=`${minSrc + postfix.lg}-min.${type}` data-srcset!=`${retina.includes(`l`) ? `${src + postfix.lg + postfixRetina}.${type} 2x,` : ``} ${src + postfix.lg}.${type}${retina.includes(`l`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`m`)
				source(media=`(min-width: ${md}px)` srcset=`${minSrc + postfix.md}-min.${type}` data-srcset!=`${retina.includes(`m`) ? `${src + postfix.md + postfixRetina}.webp 2x,` : ``} ${src + postfix.md}.webp${retina.includes(`m`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: ${md}px)` srcset=`${minSrc + postfix.md}-min.${type}` data-srcset!=`${retina.includes(`m`) ? `${src + postfix.md + postfixRetina}.${type} 2x,` : ``} ${src + postfix.md}.${type}${retina.includes(`m`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`s`)
				source(media=`(min-width: 0px)` srcset=`${minSrc + postfix.sm}-min.${type}` data-srcset!=`${retina.includes(`s`) ? `${src + postfix.sm + postfixRetina}.webp 2x,` : ``} ${src + postfix.sm}.webp${retina.includes(`s`) ? ` 1x` : ``}` type=`image/webp`)
				source(media=`(min-width: 0px)` srcset=`${minSrc + postfix.sm}-min.${type}` data-srcset!=`${retina.includes(`s`) ? `${src + postfix.sm + postfixRetina}.${type} 2x,` : ``} ${src + postfix.sm}.${type}${retina.includes(`s`) ? ` 1x` : ``}` type=`image/${type}`)
			if dimentions.includes(`l`)
				img.lazyload.lazymin(src!=`${minSrc + postfix.lg}-min.${type}` data-src!=`${src + postfix.lg}.${type}` alt='')&attributes(attributes)
			else
				img.lazyload.lazymin(src!=`${minSrc + postfix.md}-min.${type}` data-src!=`${src + postfix.md}.${type}` alt='')&attributes(attributes)
